html{
    background-color: whitesmoke;
}

#container {
    display: flex;
    align-items: center;
    position: relative;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: solid 4px black;
    border-style: double;
    border-radius: 5px;
}

img {   
    width: 900px;
    height: 500px;
}

#canvas {
    z-index: 2;
}

button {
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 2.5px 5px #888888;
}

#left {
    width: 50%;
}

#right {
    width: 50%;
}

#straight {
    width: 75%;
    height: 85%

}

#straightBox {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#leftRightBox {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#straight {
    font-size: 35px;
    font-weight: bold;
    align-self: center;
    margin: 0;
}


#buttonBox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

#rightPanel {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-between;
    border: solid 4px black;
    border-style: double double double none;
    border-radius: 5px;
    margin-left: 7px;
}

#sentance {
    display: flex;
    flex-grow: 1;
    font-size: 38px;
    justify-content: space-evenly;
    align-items: center;
}